<p id="notice"><%= notice %></p>


<!-- Create average ratings by country /region-->
<%countryratings=[]%>
<%countries={}%>
<%countries=Committee.group(:country).count%>
<%countries.each_key do |countryname|%>
  <% temp=[]%>
  <%count=0%> 
  <%countryCom=Committee.where(country: countryname )%>
    <%countryCom.each do |c| %>
      <%temp2=AwayRating.where(committee: c.id)%>
      <%temp2.each do |a|%>
        <%temp.push(a.rating)%>
        <% count +=1%>
      <%end%>
    <%end%>
    <%sum = temp.reduce :+%>
    <%sum = sum/count.to_f%>
    <%countryratings.push([countryname, sum.round(2)])%>
<%end%>

<%= geo_chart countryratings, colors: ['#CAE1FF','#00008B'],height: "500px"%>

<div class="row">
  <div class="col-md-3 text-center stats">
      <strong>Total Internships in Database:</strong>
      <div class="numstats">
      <%=Internship.all.count%>
      </div>
  </div>
  <div class="col-md-3 text-center stats">
      <strong>Total Countries in Database:</strong>
      <%=Committee.group(:country).count.count%>
  </div>
  <div class="col-md-3 text-center stats">
      <strong>Total Committees in Database:</strong>
      <%=Committee.all.count %>
  </div>
  <div class="col-md-3 text-center stats">
      <strong>Average Rating for AIESEC:</strong>
      <%sum=0%>
      <% Internship.all.each do |internship| %>
        <% if internship.overall_rating %>
          <%sum += internship.overall_rating %>
          <%end%>
        <%end%>
        <%sum = sum/Internship.all.count.to_f %>
        <%= sum.round(2)%>
  </div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Region</th>
      <th>Country</th>
      <th>Committee Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%orderedCom=Committee.order("region ASC, country ASC")%>

  <tbody>
    <% orderedCom.each do |committee| %>
      <tr>
        <td><%= committee.region %></td>
        <td><%= committee.country %></td>
        <td><%= committee.name %></td>
        <td><%= link_to 'View Committee Statistics', committee %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Committee', new_committee_path %>
