<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @committee.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @committee.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @committee.country %>
</p>

<%= link_to 'Edit', edit_committee_path(@committee) %> |
<%= link_to 'Back', committees_path %>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Key learning</th>
      <th>Overall rating</th>
      <th>Overall expl</th>
      <th>Internship rating</th>
      <th>Internship expl</th>
      <th>Participant</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% @internships.each do |element| %>
	<% internship = Internship.find(element.internship)%>
      <tr>
        <td><%= internship.product %></td>
        <td><%= internship.name %></td>
        <td><%= internship.start_date %></td>
        <td><%= internship.end_date %></td>
        <td><%= internship.key_learning %></td>
        <td><%= internship.overall_rating %></td>
        <td><%= internship.overall_expl %></td>
        <td><%= internship.internship_rating %></td>
        <td><%= internship.internship_expl %></td>
        <td><%= internship.participant %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<% @ratings.each do |rating| %>

<%= rating.id %>
<%end%>
