<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @committee.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @committee.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @committee.country %>
</p>

<%= link_to 'Edit', edit_committee_path(@committee) %> |
<%= link_to 'Back', committees_path %>
