<p id="notice"><%= notice %></p>

<h1>Listing Away Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Internship</th>
      <th>Committee</th>
      <th>Visa</th>
      <th>Rating</th>
      <th>Explanation</th>
      <th>Experience difficulties</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @away_ratings.each do |away_rating| %>
      <tr>
        <td><%= away_rating.internship %></td>
        <td><%= away_rating.committee %></td>
        <td><%= away_rating.visa %></td>
        <td><%= away_rating.rating %></td>
        <td><%= away_rating.explanation %></td>
        <td><%= away_rating.experience_difficulties %></td>
        <td><%= link_to 'Show', away_rating %></td>
        <td><%= link_to 'Edit', edit_away_rating_path(away_rating) %></td>
        <td><%= link_to 'Destroy', away_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Away rating', new_away_rating_path %>
