<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!--  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-center">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "US Committees",   '#' %></li>
            <li><%= link_to "International Committees", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container"> -->

</body>
</html>
